<!DOCTYPE html>
<html>
<head>

    {% block head %}
    <title>Gym Manager</title>
    <link rel="stylesheet" href="/Style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    {% endblock %}
    
</head>
<body>
    <header>
        
        <div class="links">
            <a href="/instructors">Instructors</a>
            <a href="/members">Members</a>
        </div>

    </header>

    {% block content %}
    
    {% endblock %}
    <script src="/scripts.js"></script>
</body>
</html>